#left-bar {
}

#middle-bar {
	height: auto ;
}

#send-message-chatbot {
	padding: 5px ;
}

body {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkYxpdBvLbBdEnM2iQ2erYxVhqQc2sP2aabJlDWJlh-8de7liRLA) ;
}

#send-message-chatbot > div {
	padding: 5px ;
}

#right-bar {
	padding: 5px ;
	margin-top: 15px ;
	height: 80vh; 
	position:fixed; 
	padding-top: 15px ;
	right:0 ;
	border-radius: 15px 0px 0px 15px ;
	border:1px solid blue; 
}


.bar-style {
	margin-top:0px !important;
	overflow-y: hidden ;
}

#user-profile-image {
	margin-top: 5px ;
}

#user-profile-tab {
	padding-left: 50px ;
	border: 1px solid red ;
}

#user-academic-details > div {
	font-size: 16px ;
	font-family: Arial ;
}

#user-profile-image > img {
	height: 70px !important ;
	width: 70px !important ;
}

.user-details {
	margin-bottom: 5px;
}

.text-primary {
	color: rgb(24,24,24);
}

hr {
	margin-top: 10px !important ;
	margin-bottom: 10px !important ;
}

#features-container {
	border: 1px solid blue;
}

